*{
    margin: 0;
    padding: 0;
    border: none;
}

#header-style{
    background: rgb(186, 216, 255);
    height: 10vh;
    width: 100vw;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

a:link{
    text-decoration: none;
}

h1{
    margin-top: 1%;
    margin-left: 2%;
    text-transform: uppercase;
    color:white;
    float:left;
    font-size: xxx-large;
}

#menu li{
    font-size: xx-large;
    margin-right: 5%;
    margin-top: 2%;
    float:right;
    list-style-type: none;
    color:white;
}

footer{
    height:10%;
    text-align: center;

}

#hero-outer {
    height: 60vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height: 60vh;
    width: 100vw;
    background: url(../images/kidsclubbanner.png) no-repeat center center;
}